[Desktop Entry]
Type=Application
Categories=Application;Education;
Encoding=UTF-8
Name=koko
Comment=Display window
Exec=koko-gui
Icon=koko.png
Terminal=false
